.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 214, 214);

    .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }

    .right{
        display: flex;
        margin: 0 20px;
    }

    .icon{
        margin: 0 10px;
        // border: 1px solid black;
        padding: 5px;
        border-radius: 50%;
        font-size: x-large;

        &:hover{
            background-color: rgb(191, 216, 252);
        }
    }

    &:hover{
        background-color: rgb(236, 241, 248);
        cursor: pointer;
        // color: white;
    }
}